<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.swifiic.app.msngr.andi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION" />
    <uses-permission android:name="in.swifiic.plat.app.suta.andi.USER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="in.swifiic.app.msngr.andi.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="in.swifiic.app.msngr.andi.MainActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <service android:name="in.swifiic.plat.helper.andi.GenericService" />

        <activity
            android:name="in.swifiic.plat.helper.andi.ui.UserChooserActivity"
            android:label="Select User"
            android:screenOrientation="portrait" />
        <activity
            android:name="in.swifiic.app.msngr.andi.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="in.swifiic.app.msngr.andi.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.swifiic.android.app.msngr.MainActivity" />
        </activity>

        <receiver
            android:name="in.swifiic.plat.helper.andi.IBRDtnReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="de.tubs.ibr.dtn.permission.DTN_SERVER" >

            <!-- Add intent filter for notification of incoming bundles -->
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.RECEIVE" />

                <category android:name="in.swifiic.app.msngr.andi" />
            </intent-filter>
            <!-- Add intent filter for status reports generated by the DTN service -->
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.STATUS_REPORT" />

                <category android:name="in.swifiic.app.msngr.andi" />
            </intent-filter>
        </receiver>
        <receiver android:name="in.swifiic.plat.helper.andi.HubAddressReceiver" >
            <intent-filter>
                <action android:name="swifiic.suta.hubAddressUpdate" /> <!-- AT TBD TODO XXX -->
            </intent-filter>
        </receiver>
    
        <receiver android:name="in.swifiic.app.msngr.andi.NewMessageReceiver" >
            <intent-filter>
                <action android:name="in.swifiic.app.DATA_RECEIVED" /> <!-- AT TBD TODO XXX -->
            </intent-filter>
        </receiver>
        

        <activity
            android:name="in.swifiic.app.msngr.andi.ChatSummary"
            android:label="@string/title_activity_chat_summary" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
