<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.swifiic.plat.app.suta.andi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <permission android:name="in.swifiic.plat.app.suta.andi.USER" ></permission>

    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
 	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> 
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	
	
	
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="in.swifiic.plat.app.suta.andi.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="in.swifiic.plat.app.suta.andi.mgmt.ErrorNotifyActivity" android:label="@string/app_name" />
        <receiver android:name="in.swifiic.plat.app.suta.andi.mgmt.MyStartupIntentReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		
		<service android:enabled="true" android:name="in.swifiic.plat.app.suta.andi.mgmt.TrackService">
			<intent-filter>
				<action android:name="in.swifiic.plat.app.suta.andi.mgmt.TrackService" />
			</intent-filter>
		</service>
        
        <service android:name="in.swifiic.plat.helper.andi.GenericService" />
        
        <activity
            android:name="in.swifiic.plat.app.suta.andi.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="in.swifiic.plat.app.suta.andi.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.swifiic.plat.app.suta.andi.MainActivity" />
        </activity>
        
        <activity tools:replace = "android:label"
            android:name="in.swifiic.plat.helper.andi.ui.UserChooserActivity"
            android:label="User List"
            android:screenOrientation="portrait" />
        
        <provider
            android:name="in.swifiic.plat.app.suta.andi.provider.Provider"
            android:authorities="in.swifiic.plat.app.suta.andi"
            android:exported="true"
            android:permission="in.swifiic.plat.app.suta.andi.USER" >
        </provider>
        <receiver
            android:name="in.swifiic.plat.helper.andi.IBRDtnReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="de.tubs.ibr.dtn.permission.DTN_SERVER" >

            <!-- Add intent filter for notification of incoming bundles -->
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.RECEIVE" />

                <category android:name="in.swifiic.plat.app.suta.andi" />
            </intent-filter>
            <!-- Add intent filter for status reports generated by the DTN service -->
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.STATUS_REPORT" />

                <category android:name="in.swifiic.plat.app.suta.andi" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="in.swifiic.plat.app.suta.andi.NewMessageReceiver" >
            <intent-filter>
                <action android:name="in.swifiic.app.DATA_RECEIVED" />
            </intent-filter>
        </receiver>
        

	
		
             
    </application>

</manifest>
