<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.swifiic.android.app.suta"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <permission android:name="in.swifiic.android.app.suta.USER" ></permission>

    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="in.swifiic.plat.app.suta.andi.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="in.swifiic.plat.helper.andi.GenericService" />
        
        <activity
            android:name="in.swifiic.plat.app.suta.andi.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="swifiic.suta.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.swifiic.android.app.suta.MainActivity" />
        </activity>
        
        <activity
            android:name="in.swifiic.plat.helper.andi.ui.UserChooserActivity"
            android:label="User List"
            android:screenOrientation="portrait" />
        
        <provider
            android:name="in.swifiic.plat.app.suta.andi.provider.Provider"
            android:authorities="in.swifiic.android.app.suta"
            android:exported="true"
            android:permission="in.swifiic.android.app.suta.USER" >
        </provider>
        <receiver
            android:name="in.swifiic.plat.helper.andi.IBRDtnReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="de.tubs.ibr.dtn.permission.DTN_SERVER" >

            <!-- Add intent filter for notification of incoming bundles -->
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.RECEIVE" />

                <category android:name="in.swifiic.android.app.suta" />
            </intent-filter>
            <!-- Add intent filter for status reports generated by the DTN service -->
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.STATUS_REPORT" />

                <category android:name="in.swifiic.android.app.suta" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="in.swifiic.plat.app.suta.andi.NewMessageReceiver" >
            <intent-filter>
                <action android:name="in.swifiic.app.DATA_RECEIVED" />
            </intent-filter>
        </receiver>
             
    </application>

</manifest>
